<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
{% block title %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Upload an Blog</title>
    </head>
{% endblock %}
{% block content %}
<body style="font-family: Times New Roman">
    <div class="container-fluid">
        <br>
        {% for ids in blog_details %}
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <table aria-colspan="2" class="container-fluid">
                        <th> <h1 style="text-align: center;">{{ ids.blog_title }}</h1> </th>
                        <tr>
                            <td>
                                <br>
                                <h4>{{ ids.blog_body }}</h4>
                                <br>
                                <h5>{{ ids.blog_date }}</h5> 
                                <br>  
                            </td>
                            <td style="text-align: right;" >
                                <div class="container">
                                    <img src="{{ ids.blog_images.url }}" alt="Blog Image" style="height: 350px; width: 550px; object-fit: contain;">
                                    <br>           
                                </div>
                                <br>
                            </td>
                        </tr>
                    </table>
                    <h4> Posted by : {{ids.user_id.username}}</h4>
                    <a href="mailto:{{ids.user_id.user_email}}">{{ ids.user_id.user_email }}</a>
                </div>
            </div>
            <br>
        {% endfor %}  
    </div>
</body>
{% endblock %}