<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
{% block title %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Upload an Blog</title>
    </head>
{% endblock %}
{% block content %}
<body style="font-family: Times New Roman">
    <div class="container-fluid">
        <br>
        {% for ids in blog_details %}
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <table aria-colspan="2" class="container-fluid">
                        <th> <h1 style="text-align: center;">{{ ids.blog_title }}</h1> </th>
                        <tr>
                            <td>
                                <br>
                                <h4>{{ ids.blog_body }}</h4>
                                <br>
                                <h5>{{ ids.blog_date }}</h5> 
                                <br>  
                            </td>
                            <td style="text-align: right;">
                                <br>
                                <img src="{{ ids.blog_images.url }}" alt="Blog Image" class="img-responsive" width="460" height="345">
                                <br>           
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <br>
        {% endfor %}  
    </div>
</body>
{% endblock %}