<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
<html lang="en">
<head>
    <title>About Us</title>
</head>
{% endblock %}
{% block content %}
<body style="background-color:beige">
    <div class="container-fluid">
        <br>
        <h1 style="text-align: center">
           About Us 
        </h1>
        <table colspan="2" style="text-align: justify">
            <br>
            <br>
            <tr>
                <td width="40%">
                    <a class="navbar-brand">
                        {% load static %}
                        <img src="static\logo.png" style="width: 580px; height: 150px;"> 
                    </a>
                </td>
                <br>
                <td width="60%">
                    <p> 
                        Welcome to HealthPal Nepal – your trusted guide to optimal healthcare choices. We understand that your health is of utmost importance, and finding the right hospital can make a significant difference in your well-being. That's why we've crafted a sophisticated and user-friendly recommendation system to help you make informed decisions about your healthcare journey.
                    </p>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <h3>
            Our Mission 
        </h3>
        <p style="text-align: justify;">
            Our mission is to empower individuals to take control of their health by connecting them with hospitals that align with their specific requirements. We strive to enhance transparency in healthcare choices, making it easier for you to make decisions that matter the most.
        </p>
        <br>
        <h3>
            Your Health, Your Choice:
        </h3>
        <p style="text-align: justify;">
            Your well-being is our priority. With HealthPal Nepal, take control of your health journey with confidence. Whether you're seeking specialized care, routine check-ups, or emergency services, we are here to guide you every step of the way.
            Thank you for choosing HealthPal Nepal. We look forward to being your trusted companion on your path to optimal health.
        </p>
        <h2>Our Services</h2>
        <ul>
            <li>Health Camps and Outreach Programs</li>
            <li>Health Education and Awareness Campaigns Informations</li>
            <li>Community Health Initiatives</li>
        </ul>
    </div>
</body>
</html>
{% endblock %}