<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<html lang="en">
<head>
    <!-- CSS and JavaScript imports -->
</head>
<body style="font-family: Times New Roman">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 style="text-align: center;"> Text Your Problem Here: </h3>
            <br>
            <form action="{% url 'chatbox' %}" method="POST">
                {% csrf_token %}
                <input type="search" name="q" placeholder="Enter your health problem here..." class="form-control" />
            </form>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        {% if hospital_response %}
            {% for hospital in hospital_response %}
                <div class="col-md-6 mb-3">
                    <div class="card">
                        {% if hospital.hospital_profile %}
                            <img src="{{ hospital.hospital_profile.url }}" class="card-img-top img-fluid rounded-md" style="max-height: 500px;" alt="Hospital Profile">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ hospital.hospital_name }}</h5>
                            <p class="card-text">Specialization: {{ hospital.hospital_specialists }}</p>
                            <p class="card-text">Description: {{ hospital.hospital_description }}</p>
                            <!-- Add more hospital details as needed -->
                            <p class="card-text">Associated Doctors:</p>
                            <ul class="list-unstyled">
                                {% for user in hospital.hospital_user.all %}
                                    <li>{{ user.username }} - {{ user.user_email }}</li>
                                    <li> {{user.user_speciality}}</li>
                                    <br>
                                    <!-- Add more user details as needed -->
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p>No hospitals found.</p>
            </div>
        {% endif %}
    </div>    
</div>
</body>
</html>
{% endblock %}
