<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
{% block title %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
    </head>
{% endblock %}
{% block content %}
    <body>
        <div class="container-fluid">
            {% if status == "hospital"%}
                <div class="container-fluid" style="background-color:#B2B2B2 ; border-radius:25px;">   
                    <form method="POST">
                    {% csrf_token %}
                    <table>
                        <br>
                        <h3 style="text-align: center;">Upload a post</h3>
                        <tr>
                            <label>Title : </label>
                            <input type="text" class="form-control" name="title" placeholder="Offer Post" required> 
                        </tr>
                        <br>
                        <tr>
                            <label>Description : </label>
                            <textarea name="Body" rows="3" class="form-control" id="textAreaExample1" required> 
                                You have 50% offer!!! Grab this offer and be healthy. 
                            </textarea>   
                        </tr>
                        <br>
                        <!-- <tr>
                            <label>Upload an Image :</label>
                            <input type="file" name="offer_picture" accept="image/*" upload_to="media\media\offerPost">
                        </tr> -->
                        <br>
                        <br>
                        <tr>
                            <td style="text-align: left; padding-right: 750px;">
                                <label>Today date : </label>
                                <h5> {{ today_date }} </h5>
                            </td>
                            <td>
                                <label>Expiry date: </label>
                                <input type="date" name="expiry_date" required>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" type="onsubmit" style="margin-left: 600px;"> Upload</button>
                    <br>
                    <br>
                </div>
            {% endif %} 
            <div>
                <h1>Post to show over here.</h1>
                {% for id in post%}
                <div class="container-fluid">
                    <h2>{{offer_title}}</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
{% endblock %}