<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
{% block title %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
    </head>
{% endblock %}
    <body>
        <div class="container-fluid">
            <div>   
                <h1>This is user info::  {{user_status}}</h1>
            </div>
        </div>
    </body>
</html>
{% block content %}
{% endblock %}