<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
{% block title %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Doctor Recommendation</title>
    </head>
    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Three columns horizontally */
            gap: 20px;
            padding: 20px;
            justify-items: center; /* Center items horizontally */
                 align-items: center; /* Vertical alignment */
        }
        .card {
            width: 300px; /* Set the width of each card */
        }
    </style>
{% endblock %}
{% block content %}
<body style="font-family: Times New Roman">
    <div class="container-fluid">
        <h2>Doctors For You:</h2>
        <br>
        <div class="row" style=" margin-left:150px; width: 1000px;">
            {% for profile in profiles %}
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{ profile.username }}</h4>
                        <p class="card-text">
                            <a href="mailto:{{profile.user_email}}">{{ profile.user_email }}</a>
                            <br>
                            <span>{{ profile.user_contact }}</span>
                            <br>
                            <span>{{ profile.user_address }}</span>
                        </p>
                        <a href="{% url 'user_doctor_profile' user_id=profile.user_id %}" class="btn btn-primary">See Profile</a>
                        <!-- <a href="{% url 'send_message' sender_id=profile.user_id recipient_id=request.user.id %}"  class="btn btn-primary"> Set Appointment </a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  
</body>
{% endblock %}