<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Loading bootstrap,css, html, javascript and static files for the website. -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
{% block title %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
    </head>
    {% endblock %}
    {% block content %}
    <body style="font-family: Times New Roman">
        <br>
        <div class="container-fluid">
           <!-- Profile Header -->
           <div class="row">
               <div class="col-md-4" style="width: 250px; height: 250px; object-fit: hidden;">
                   {% if user_profile.user_profile %}
                       <img src="{{ user_profile.user_profile.url }}" alt="Profile Picture" class="img-thumbnail" style="object-fit: cover; width: 100%; height: 100%">
                   {% else %}
                   {% load static %}
                       <!-- Default profile picture -->
                       <img src="{% static 'profile.jpg' %}" alt="Default Profile Picture" class="img-thumbnail" style="object-fit: cover; width: 100%; height: 100%">
                   {% endif  %}
               </div>
               <div class="col-md-8">
                   <p><strong>Username:</strong>{{ username }}</p>
                   <p><strong>Status:</strong>{{ status }}</p>
                   <p><strong>Email:</strong>{{ email }}</p>
                   <p><strong>Phone:</strong> {{ contact }}</p>
                   <br>
                   <a href="{% url 'logout' %}" class="btn btn-danger" role="button">Logout</a>
               </div>
           </div>
       </div>
   </body>
   
</html>
{% endblock %}